svg.connecting-line {
	position: absolute;
	top: 0px;
	left: 0px;
}

.radio-label{
	display: inline-block;
	border-radius: 0.4em;
	padding: 0.15em;
}

.cut-iframe-container{
	margin:0em;
	padding:0em;
}

#cuts-container{
	height: 6.5em;
}

#cutsByUser{
	text-align: right;
}

#cutsByRadio{
	text-align: right;
}

svg {
	z-index: -10000;
}

.usernameHovered{
	background: gold;
}

.playHovered{
	background: gold;
}

.lineHovered{
	stroke: gold !important;
}